{% extends 'main.html' %}

{% block content %}

    <h1>Анализы</h1>
    <hr>
    {% for test in test_list %}
        <h4> {{ test }} </h4>
        {% if request.user.type != 'USER' %}
        <div style="text-align: right;"><a href="{% url 'update-test' test.id %}" class="btn btn-outline-secondary btn-sm"> Обновить </a></div>
        <div style="text-align: right;"><a href="{% url 'delete-test' test.id %}" class="btn btn-outline-danger btn-sm"> Удалить </a></div>
        <div style="text-align: right;"><a href="{% url 'delete-test' test.id %}" class="btn btn-outline-primary btn-sm"> Добавить в корзину </a></div>
        {% else %}
        <div style="text-align: right;"><a href="/" class="btn btn-outline-primary btn-sm"> Добавить в корзину </a></div>
        {% endif %}
        <div>
            <h5> Описание:  {{ test.description }}</h5>
            <h5 style="text-align: right;"> {{ test.cost }} Р</h5>
        </div>

    {% endfor %}

{% endblock %}