{% extends 'main.html' %}

{% block content %}

    <h1>Домашняя страница</h1>
    {% if request.user.is_authenticated %}
    <p> Привет {{request.user}}</p>
    {% endif %}
    <div>

        <div>
            <a href="{% url 'user-profile' user.id %}">Личный кабинет</a>
        </div>

        <div>
            <a href="{% url 'add-venue' %}">Добавить адрес</a>
        </div>

        <div>
            <a href="{% url 'all-venue' %}">Посмотреть адреса</a>
        </div>

    </div>

{% endblock %}