{% extends 'main.html' %}

{% block content %}

    <h1>Доступные адреса</h1>
    <hr>
    
    {% for venue in venue_list %}

        <div class="card">
            <div class="card-header">
                {{ venue }}
            </div>
            <div class="card-body">
              <p class="card-text"><ul>

                <li>Адрес: {{ venue.address }}</li>
                <li>Индекс: {{ venue.zip_code }}</li>
                <li>Контактный номер: {{ venue.phone }}</li>
                
            </ul></p>
            {% if request.user.type == 'ADMIN' %}
              <a href="{% url 'update-venue' venue.id %}" class="btn btn-primary">Обновить</a>
              <a href="{% url 'delete-venue' venue.id %}" class="btn btn-primary">Удалить</a>
            {% endif %}
            </div>
          </div>
        </br>
    {% endfor %}
    

{% endblock %}