{% extends 'main.html' %}

{% block content %}

{% for info in profile %}
<h1>Основная информация</h1>
<div>
    <h3> {{ info }}, {{ info.years }} </h3>
    <hr>
    <div>
        <h5>Полис</h5>
        <article><h6>{{ info.policy }}</h6></article>
    </div>
    <br>
    <div>
        <h5>Телефон</h5>
        <article><h6>Контактный: {{ info.mobile_phone }}</h6></article>
    </div>
    <br>
    <div>
        <h5>Электронная почта</h5>
        <article><h6>Ваш e-mail: {{ info.email_p }}</h6></article>
    </div>
    <br>
    <div>
        <h5>Адрес</h5>
        <article><h6>Адрес регистрации: {{ info.registration_address }}</h6></article>
        <article><h6>Фактический адрес: {{ info.fact_address }}</h6></article>
    </div>
</div>
{% endfor %}

{% endblock %}